<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>QCSJ</title>

		<!-- Bootstrap core CSS -->
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">

		<!-- Add custom CSS here -->
		<link href="stylesheets/starving-3.css" rel="stylesheet">
		
	</head>

	<body>
		
		<div class="container">
	
			<div class="row row-offcanvas row-offcanvas-left">
			
				<div class="col-xs-9 sidebar-offcanvas" id="sidebar" role="navigation">
					<ul class="nav nav-pills nav-stacked">
						<li><a> <img src="images/mapa2.png" class="img-circle"></a></li>
						<li><a href="telefones"><i class=""></i> Telefones Uteis</a></li>
						<li><a href="estados"><i class=""></i> Informaçãoes Turísticas</a></li>
						<li><a href="vacinas"><i class=""></i> Vacinas</a></li>
						<li><a href="prevencao"><i class=""></i> Prevenção contra doenças</a></li>
						<li><a href="cuidados"><i class=""></i> Cuidados básicos</a></li>
						<li><a href="consulados"><i class=""></i> Consulados</a></li>
						<li><a href="mapa?p=hospital"><i class=""></i> Hospirais</a></li>
						<li><a href="mapa?p=dentist"><i class=""></i> Dentistas</a></li>
						<li><a href="mapa?p=doctor"><i class=""></i> Clínicas de Saúde</a></li>
						<li><a href="mapa?p=pharmacy"><i class=""></i> Farmácias</a></li>
						<li><a href="informacoes"><i class=""></i> Informações pessoais</a></li>
						<li><a href="geoloc"><i class=""></i> Doenças Epidêmicas</a></li>
					</ul>				
				</div><!--/span-->
				
				<div class="col-xs-12">
				
					<nav class="navbar navbar-inverse navbar-fixed-top st-nav" role="navigation">
						<div class="navbar-header">
							<div class="navbar-text"><a href="#menu" data-toggle="offcanvas" class="btn btn-link navbar-link"><i class="icon icon-bar"></i></a></div>
							<div id="back" class="navbar-text navbar-right hide"><a href="/index" id="btn-back" class="btn btn-link navbar-link"><i class="icon icon-chevron-left-o"></i></a></div>
						</div>
					</nav>
					
					<div class="breathe"></div>