<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>QCSJ</title>

		<!-- Bootstrap core CSS -->
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">

		<!-- Add custom CSS here -->
		<link href="stylesheets/starving-3.css" rel="stylesheet">
		
	</head>

	<body>
		
		<div class="container">
	
			<div class="row row-offcanvas row-offcanvas-left">
			
				<div class="col-xs-9 sidebar-offcanvas" id="sidebar" role="navigation">
					<ul class="nav nav-pills nav-stacked">
						<li><a> <img src="images/xbox.png" class="img-circle"></a></li>
						<li><a href="friends"><i class=""></i> Amigos</a></li>
						<li><a href="games"><i class=""></i> Jogos</a></li>
						<li><a href="profile"><i class=""></i> Perfil</a></li>
						<li><a href="account"><i class=""></i> Configurações</a></li>
					</ul>				
				</div><!--/span-->
				
				<div class="col-xs-12">
				
					<nav class="navbar navbar-inverse navbar-fixed-top st-nav" role="navigation">
						<div class="navbar-header">
							<div class="navbar-text"><a href="#menu" data-toggle="offcanvas" class="btn btn-link navbar-link"><i class="icon icon-bar"></i></a></div>
							<div id="back" class="navbar-text navbar-right hide"><a href="/account" id="btn-back" class="btn btn-link navbar-link"><i class="icon icon-chevron-left-o"></i></a></div>
						</div>
					</nav>
					
					<div class="breathe"></div>