<% include partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body">
				<div class="account">
					<strong>Empréstimos</strong>
					<button id="yourLoans" type="button" class="btn btn-primary">Seus empréstimos</button>
					<button id="requestLoan" type="button" class="btn btn-primary">Pedir emprestado</button>
					<button id="loan" type="button" class="btn btn-primary">Emprestar</button>
					<strong>Perfil</strong>
					<button id="logout" type="button" class="btn btn-primary">Sair</button>
				</div>	
			</div>
		</div>
	</div>
</div>
					
<% include partials/footer.html %>				