<% include partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body">
				<div class="list-group">
					<a class="list-group-item active">Alemanha</a>
					<span class="list-group-item">São Paulo:   814-6644</span>
					<span class="list-group-item">Recife:   424-3488</span>
					<span class="list-group-item">Rio de Janeiro:   553-6777</span>
					<span class="list-group-item">Curitiba 252-4244</span>
					<span class="list-group-item">Site: <a target="_blank" href="http://www.embaixada-alemanha.org.br">www.embaixada-alemanha.org.br</a> </span>
				</div>				
				<div class="list-group">
					<a  class="list-group-item active">República Tcheca</a>	
					<span class="list-group-item">São Paulo:   3031-1729</span>					
					<span class="list-group-item">E-mail: gkspaulo@dialdata.com.br</span>
					<span class="list-group-item">Rio de Janeiro:   2537-1100 / 2537-0799</span>
					<span class="list-group-item">E-mail: rio@embassy.mzv.cz</span>
				</div>		

				<div class="list-group">
					<a  class="list-group-item active">Dinamarca</a>
					<span class="list-group-item">São Paulo 3061.3625</span>
					<span class="list-group-item">E-mail: dkconsul@denamark.org.br</span> 
					<span class="list-group-item">Site: <a target="_blank" href="http://www.denamark.org.br">www.denamark.org.br</a> </span>
				</div>		

				<div class="list-group">
					<a  class="list-group-item active">Eslováquia</a>
					<span class="list-group-item">São Paulo :   3675-5777/5778 </span>
					<span class="list-group-item">E-mail: slovakiaconsulado@dialdata.com.br</span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Rússia</a>
					<span class="list-group-item">São Paulo:   3062-6268 </span>
					<span class="list-group-item">E-mail: consul-sp@teknobank.com.br  </span>
					<span class="list-group-item">Rio de Janeiro:   2274-0097 / 2274-0099 / 2274-0845</span>
					<span class="list-group-item">E-mail: consulado.russia@radnet.com.br </span>
					<span class="list-group-item">Brasília:   3223-3094 / 3223-4094</span>
					<span class="list-group-item">E-mail: emb@embrus.brte.com.br  </span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Espanha</a>
					<span class="list-group-item">Brasília:   3244-2121 / 3244-2145</span>
					<span class="list-group-item">São Paulo:   3059-1800/1802</span>
					<span class="list-group-item">Rio de Janeiro:   543-3096/3200</span>
					<span class="list-group-item">Porto Alegre:   338-1300</span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">França</a>
					<span class="list-group-item">Brasília:   312-9100</span>
					<span class="list-group-item">São Paulo:   287-9522</span>
					<span class="list-group-item">Recife:   465-3290</span>
					<span class="list-group-item">Rio de Janeiro:   210-1272</span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Grécia</a>
					<span class="list-group-item">São Paulo:   283.1231 / 251.0675</span>
					<span class="list-group-item">E-mail: consulgrecia@sti.com.br</span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Hungria</a>
					<span class="list-group-item">São Paulo:   5506-5011 / 5506-5088</span>
					<span class="list-group-item">E-mail: huconsao@dedalus.net</span>
					<span class="list-group-item">Rio de Janeiro:   544-6039 </span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Irlanda</a>
					<span class="list-group-item">São Paulo:   287-6362</span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Itália</a>
					<span class="list-group-item">Brasília:   3244-0044</span>
					<span class="list-group-item">São Paulo:   3826-9022</span>
					<span class="list-group-item">Recife:   466-4200 / 282-1315</span> 
					<span class="list-group-item">Porto Alegre:   228-2055</span>
					<span class="list-group-item">Belo Horizonte:   281-4211</span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Suécia</a>
					<span class="list-group-item">São Paulo:   3061-1700 </span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Suíça</a>
					<span class="list-group-item">Brasília:   443-5500</span>
					<span class="list-group-item">E-mail: vertretung@bra.rep.admin.ch</span>
					<span class="list-group-item">São Paulo:   253-4951</span>
					<span class="list-group-item">E-mail: vertretun@são.rep.admin.ch</span>
					<span class="list-group-item">Rio de Janeiro:   221-1867</span>
					<span class="list-group-item">E-mail: vertretung@rio.rep.admin.ch</span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Portugal</a>
					<span class="list-group-item">São Paulo:   270-2713</span>
					<span class="list-group-item">E-mail: Portugal@dialdata.com.br</span>
					<span class="list-group-item">Site: <a target="_blank" href="www.consuladoportugalsp.org.br">www.consuladoportugalsp.org.br</a></span>
					<span class="list-group-item">Rio de Janeiro:   544-2444</span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Reino Unido</a>
					<span class="list-group-item">Brasília:   3225-2710</span>
					<span class="list-group-item">São Paulo:   3816-2303</span>
					<span class="list-group-item">Rio de Janeiro:    553-5507 / 3223</span>
					<span class="list-group-item">Belo Horizonte:   261-2072</span>
					<span class="list-group-item">Site: <a target="_blank" href="www.reinounido.org.br">www.reinounido.org.br</a></span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Malta</a>
					<span class="list-group-item">São Paulo:   6914-4420</span>
					<span class="list-group-item">Rio de Janeiro:   221-7274</span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Países Baixos</a>
					<span class="list-group-item">São Paulo:   3813.0522 </span>
					<span class="list-group-item">E-mail: nlgovsao@uol.com.br</span>
				</div>	
				<!- norte-americanos ->	

				<div class="list-group">
					<a  class="list-group-item active">Estados Unidos</a>
					<span class="list-group-item">Brasília: 3321-7272</span>
					<span class="list-group-item">São Paulo: 8381-6511</span>
					<span class="list-group-item">Rio de Janeiro: 2292-7117</span>
					<span class="list-group-item">Recife: 3221-1412</span>
					<span class="list-group-item">Porto Alegre: 3226-4288</span>
					<span class="list-group-item">Sites: <a target="_blank" href="www.embaixada-americana.org.br">www.embaixada-americana.org.br</a> </span>
				</div>	
				<div class="list-group">
					<a  class="list-group-item active">Canadá</a>
					<span class="list-group-item">Brasília: 3321-2171</span>
					<span class="list-group-item">São Paulo: 5509-4343</span>
					<span class="list-group-item">Rio de Janeiro: 543-3004</span>
					<span class="list-group-item">Sites: <a target="_blank" href="www.canada.org.br">www.canada.org.br</a> </span>
				</div>


				<!-Africanos ->
				<div class="list-group">
					<a  class="list-group-item active">África do Sul</a>
					<span class="list-group-item">Brasília: 3312-9500</span>
					<span class="list-group-item">São Paulo: 3285-0433</span>
					<span class="list-group-item">E-mail: consulado@africadosulconsp.org.br</span>
				</div>
				<!-Oceania ->
				<div class="list-group">
					<a  class="list-group-item active">Austrália</a>
					<span class="list-group-item">Brasília: 3248-5569</span>
					<span class="list-group-item">São Paulo: 3849-6281</span>
					<span class="list-group-item">Rio de Janeiro: 518-3351</span>
					<span class="list-group-item">Sites: <a target="_blank" href="www.brazil.embassy.gov.au">www.brazil.embassy.gov.au</a> </span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Nova Zelândia</a>
					<span class="list-group-item">São Paulo: 288-0307 	</span>
					<span class="list-group-item">Site: <a target="_blank" href="www.tradenz.govt.nz">www.tradenz.govt.nz</a> </span>
				</div>
				<!-asiáticos->
				<div class="list-group">
					<a  class="list-group-item active">China</a>
					<span class="list-group-item">São Paulo: 3082-9877/9084 </span>
					<span class="list-group-item">E-mail: conchina@uol.com.br</span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Indonésia</a>
					<span class="list-group-item">São Paulo: 3889-9623 	</span>
					<span class="list-group-item">E-mail: zimao@prestonet.com.br</span>
				</div>
				<div class="list-group">	 
					<a  class="list-group-item active">Rússia</a>
					<span class="list-group-item">São Paulo: 3062-6268 </span>
					<span class="list-group-item">E-mail: consul-sp@teknobank.com.br      </span>
					<span class="list-group-item">Rio de Janeiro: 2274-0097 / 2274-0099 / 2274-0845</span>
					<span class="list-group-item">E-mail: consulado.russia@radnet.com.br </span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Japão</a>
					<span class="list-group-item">Brasília: 3242-6866</span>
					<span class="list-group-item">São Paulo: 3287-0100</span>
					<span class="list-group-item">Rio de Janeiro: 265-5252</span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Índia	</a>
					<span class="list-group-item">São Paulo: 3171-0340/0341 </span>
					<span class="list-group-item">E-mail: indiaconsulate@org.br</span>
					<span class="list-group-item">Site: <a target="_blank" href="www.indiaconsulate.org.br">www.indiaconsulate.org.br</a> </span>
				</div>
				<div class="list-group">
					<a  class="list-group-item active">Tailândia</a>
					<span class="list-group-item">São Paulo: 3097-0070 	</span>
				</div>

				<!-América do sul->
				<div class="list-group">
					<a  class="list-group-item active">Peru</a>
					<span class="list-group-item">São Paulo: 3819-1793/1794</span>
					<span class="list-group-item">E-mail: consulperu.sp@originet.com.br</span> 
					<span class="list-group-item">E-mail: lespinosa@originet.com.br</span>	
				</div>
				<!-Caribe->
				<div class="list-group">
					<a  class="list-group-item active">Cuba</a>
					<span class="list-group-item">São Paulo: 3873-2800/4537</span>
					<span class="list-group-item">E-mail: consuladocuba@uol.com.br</span>	
				</div>	
			</div>
		</div>
		<div class="alert alert-danger">Para consultar outros consulados acesse o site do Itamaraty. <a target="_blank" href="http://www.itamaraty.gov.br/servicos-do-itamaraty/enderecos-de-consulados-estrangeiros-no-brasil">[Link]</a> </div>
	</div>
</div>
					
<% include partials/footer.html %>	

<script type="text/javascript">
	$(document).ready(function() {
		$('#back').removeClass('hide');
	});	
</script>	