<% include partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body">
				
					<h2>CUIDADOS BÁSICOS</h2>
					<ul>
						<li><p>Procure seu médico, preferencialmente entre as 4 e 8 semanas antes da viagem para informar seu roteiro. peça orientações sobre cuidados para proteção contra doenças e lesões;</p></li>

						<li><p>Você pode ter dificuldade ou não encontrar os medicamentes que utiliza habitualmente durante a viagem. peça orientação ao seu médico sobre quais medicamentos e em que quantidade deve levar durante a viagem, incluindo a bagagem de mão;</p></li>

						<li><p>Carregue com você os seus documentos de identificação, de preferencia em inglês e português, com informações de contatos pessoais, tipo sanguíneo, se tem alergias, diabetes ou outras doenças que possam requerer particular atenção;</p></li>

						<li><p>Toda gestante deve consultar seu médico antes da viagem, pois estará sujeita a vários riscos e a viagem pode afetar a sua segurança e conforto;</p></li>

						<li><p>Antes de viajar consulte a empresa de transporte sobre as regras especificas para gestantes;</p></li>

						<li><p>O Brasil é um pais de clima tropical. recomenda-se ao viajante a ingestão constante de líquidos para evitar a desidratação;</p></li>

						<li><p>Use roupas e calçados confortáveis. eles lhe darão segurança e proteção contra torções, picadas de insetos e incidentes com animais peçonhentos;</p></li>

						<li><p>Para se proteger do sol, cubra-se com roupas apropriadas, utilize chapéu ou boné e óculos escuros. evite a exposição direta ao sol entre 10 horas da manhã e 4 horas da tarde;</p></li>

						<li><p>Use protetor solar de fator de proteção adequado a cor da sua pele, de acordo com as orientações do fabricante. mesmo em locais frio, sua pele ficará protegida dos raios solares;</p></li>

						<li><p>Use repelente quando houver necessidade;</p></li>

						<li><p>No Brasil, é proibido por lei dirigir após o consumo de bebida alcoólica, mesmo em pequenas quantidades;</p></li>
					</ul>

			</div>
		</div>
	</div>
</div>
					
<% include partials/footer.html %>	

<script type="text/javascript">
	$(document).ready(function() {
		$('#back').removeClass('hide');
		$('#btn-back').attr('href','cuidados_saude');
	});	
</script>	