<% include partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body">
				<div id="data-result" class="list-group">
					<a href="estado?p=0" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/acre.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Acre</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>	
					<a href="estado?p=1" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/alagoas.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Alagoas</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>	
					<a href="estado?p=2" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/amapa.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Amapá</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>	
					<a href="estado?p=3" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/amazonas.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Amazonas</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=4" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/bahia.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Bahia</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=5" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/ceara.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Ceará</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=6" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/df.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Distrito Federal</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=7" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/espirito-santo.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Espírito Santo</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=8" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/goias.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Goiás</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=9" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/maranhao.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Maranhão</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=10" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/mato-grosso.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Mato Grosso</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=11" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/mato-grosso-do-sul.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Mato Grosso do Sul</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=12" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/minas-gerais.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Minas Gerais</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=13" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/para.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Pará</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=14" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/paraiba.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Paraíba</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=15" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/parana.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Paraná</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=16" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/pernambuco.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Pernambuco</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=17" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/piaui.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Piauí</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=18" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/rio-de-janeiro.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Rio de Janeiro</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=19" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/rio-grande-do-norte.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Rio Grande do Norte</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=20" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/rio-grande-do-sul.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Rio Grande do Sul</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=21" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/rondonia.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Rondônia</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=22" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/roraima.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Roraima</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=23" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/santa-catarina.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Santa Catarina</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=24" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/sao-paulo.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>São Paulo</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=25" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/sergipe.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Sergipe</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>
					<a href="estado?p=26" class='list-group-item'>
						<div>
							<img class='friend-img' style='width:75px; height: 50px;'src='images/estados/tocantins.jpg'>  
							<strong class='name-friend' style='margin-top: 15px;'>Tocantins</strong>							
						</div>
						<div class='clearfix'>								
						</div>
					</a>	
				</div>
			</div>
		</div>
	</div>
</div>
					
<% include partials/footer.html %>				
