<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>QCSJ</title>

		<!-- Bootstrap core CSS -->
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">

		<!-- Add custom CSS here -->
		<link href="stylesheets/starving-3.css" rel="stylesheet">
		
	</head>

	<body>
		
		<div class="container">
	
			<div class="row row-offcanvas row-offcanvas-left">
			
				<div class="col-xs-9 sidebar-offcanvas" id="sidebar" role="navigation">
					<ul class="nav nav-pills nav-stacked">
						<li><a> <img src="images/xbox.png" class="img-circle"></a></li>
						<li><a href="friends.html"><i class=""></i> Amigos</a></li>
						<li><a href="games.html"><i class=""></i> Jogos</a></li>
						<li><a href="account.html"><i class=""></i> Configurações</a></li>
					</ul>				
				</div><!--/span-->
				
				<div class="col-xs-12">
				
					<nav class="navbar navbar-inverse navbar-fixed-top st-nav" role="navigation">
						<div class="navbar-header">
							<div class="navbar-text"><a href="#menu" data-toggle="offcanvas" class="btn btn-link navbar-link"><i class="icon icon-bar"></i></a></div>
						</div>
					</nav>
					
					<div class="breathe"></div>
		
					<div class="row">
						<div class="col-xs-12">
							<div class="panel panel-info">
								<div class="panel-body">

									<div id="data-result" class="list-group">

									</div>

								</div>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			
			<div class="breathe breathe-big"></div>
			
		</div>

<script src="javascripts/jquery-1.9.0.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/csj.js"></script>


<script type="text/javascript">
$(document).ready(function() {
	$('[data-toggle=offcanvas]').click(function() {
		$('.row-offcanvas').toggleClass('active');
		$('.st-nav').toggleClass("active");
	});

	csj.loadFriends({
		username: "jefersonph"
	});


});
</script>		



	</body>
</html>							