<% include partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body">
				<a href="info_pessoais"><button type="button" class="btn btn-primary btn-lg btn-block">Informações pessoais</button></a> 
				<a href="info_doencas"><button type="button" class="btn btn-primary btn-lg btn-block">Doenças preexistentes</button></a> 
				<a href="info_remedios"><button type="button" class="btn btn-primary btn-lg btn-block">Remédios de uso contínuo</button></a>
				<a href="info_alergias"><button type="button" class="btn btn-primary btn-lg btn-block">Alergias</button></a> 
			</div>
		</div>
	</div>
</div>
					
<% include partials/footer.html %>	

<script type="text/javascript">
	$(document).ready(function() {
		//$('#back').removeClass('hide');
	});	
</script>	