<% include partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body">
				<a href="mapa?p=pharmacy"><button type="button" class="btn btn-primary btn-lg btn-block">Farmácias</button></a> 
				<a href="mapa?p=hospital"><button type="button" class="btn btn-primary btn-lg btn-block">Hospitais</button></a> 
				<a href="mapa?p=dentist"><button type="button" class="btn btn-primary btn-lg btn-block">Dentistas</button></a>
				<a href="mapa?p=doctor"><button type="button" class="btn btn-primary btn-lg btn-block">Clínicas de Saúde</button></a> 
			</div>
		</div>
	</div>
</div>
					
<% include partials/footer.html %>	

<script type="text/javascript">
	$(document).ready(function() {
		//$('#back').removeClass('hide');
	});	
</script>	

