<% include partials/header.html %>

<div id="map-canvas"></div>
                    
<% include partials/footer.html %>  

<script type="text/javascript">
        var map;
        var infowindow;

        google.maps.event.addDomListener(window, 'load', initialize);
        function initialize() {    
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {

                    var location = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                    map = new google.maps.Map(document.getElementById('map-canvas'), {
                        center: location,
                        zoom: 15
                    });

                    var request = {
                        location: location,
                        radius: 5000,
                        types: [tcc.getParameterByName("p")]
                    };
                    infowindow = new google.maps.InfoWindow();
                    var service = new google.maps.places.PlacesService(map);
                    service.nearbySearch(request, callback);
                });
            }
            else {
                console.log("Geolocation is not supported by this browser");
            }   
 
        }

        function callback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                }
            }
        }

        function createMarker(place) {
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent("<div class='mapsInfo'><strong>"+place.name+"</strong><br><br><span>" + place.vicinity + "</span></div><br>");          
                infowindow.open(map, this);
            });
        }
</script>       