<% include partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body">
				
					<h2>PREVENÇÃO CONTRA MALÁRIA</h2>
					<ul>	
						<li><p>Antes de viajar consulte as áreas que apresentam registro de casos de malária durante todo o ano; <a target="_blank" href="http://www.paho.org/bra/"> [link] </a></p></li>

						<li><p>No brasil, a transmissão concentra-se na região amazônica;</p></li>

						<li><p>Em áreas  de transmissão de malária, é fundamental que o viajante tenha conhecimento sobre o horário de maior atividades de mosquitos vetores de malária, do pôr-do-sol ao amanhecer;</p></li>

						<li><p>Use roupas claras e com manga longa, durante atividades de exposição elevada;</p></li>

						<li><p>Aplique repelente nas áreas expostas da pele, seguindo a orientação do fabricante. em crianças com idade inferior a dois anos, não é recomendado o uso de repelente sem orientação médica;</p></li>

						<li><p>Em áreas de transmissão de malária e imprescindível que o viajante fique atento ao surgimento de sintomas da doença, como febre, dor no corpo e dor de cabeça;</p></li>

						<li><p>Em caso de manifestação de algum sintoma de doença, procure uma unidade de saúde especializada mais próxima, o ideal é que este atendimento seja feito o quanto antes, em até 48 horas após os primeiros sintomas;</p></li>

						<li><p>O Brasil conta com uma rede pública de saúde estruturada para diagnosticar e tratar os pacientes, de forma oportuna e adequada;</p></li>

						<li><p>Caso você queira adquirir mais informações acerca de malária antes de realizar a sua viagem, busque orientação em um dos centos de referência;</p></li>
					</ul>	
					<h2>PREVINA-SE CONTRA DOENÇAS DE TRANSMISSÃO RESPIRATÓRIA</h2>
					<ul>
						<li><p>Lavar as mãos com água e sabonete antes das refeições, de tocar os olhos, a boca e o nariz e após tossir, espirrar ou usar o banheiro;</p></li>

						<li><p>Ao tossir ou espirrar, cubra o nariz e a boca com lenço, preferencialmente descartável. caso não tenha, evite espirrar nas mãos. recomenda-se espirrar no antebraço, próximo ao cotovelo;</p></li>

						<li><p>Indivíduos doentes deve ficar em repouso, consumir alimentação balanceada, aumentar a ingestão e ambientes fechados;</p></li>

						<li><p>Mantenha os ambientes ventilados;</p></li>

						<li><p>Esteja sempre atento ao apresentar sintomas respiratórios de maior gravidade e procure imediatamente assistência médica;</p></li>
					</ul>		
					<h2>CONSUMA ALIMENTOS E BEBIDAS DE FORMA SAUDÁVEL</h2>

					<ul>
						<li><p>Evite consumir alimentos cujas condições higiênicas, de preparo, e acondicionamento, são precárias;</p></li>

						<li><p>Prefira alimentos que contenham baixo teor de açúcares, gorduras e sal;</p></li>

						<li><p>Beba bastante líquido, preferencialmente água ou suco. evite alimentos crus ou mal cozidos, principalmente os frutos do mar;</p></li>

						<li><p>Alimentos embalados devem conter no rótulo a identificação do produtor, data de validade e a embalagem deve estar integra;</p></li>

						<li><p>Durante o turismo rural, dê preferencia aos alimentos que podem ficar sem refrigerantes e não estraguem com o calor;</p></li>	

						<li><p>Caso tenha diarreia e vômitos por conta da ingestão de alimentos e bebidas, é preciso cuidado redobrado com a desidratação. recomenda-se a ingestão de sal de reidratação oral, disponibilizado gratuitamente pelo sistema único de saúde, ou outras soluções do tipo. as bebidas esportivas não compensam corretamente as perdas e não devem ser utilizadas para tratamento de doença diarreica;</p></li>

						<li><p>Para mais informações sobre cuidados com a alimentação, consulte as recomendações no link da OMS; <a target="_blank" href="http://www.paho.org/bra/"> [link] </a></p></li>				
					</ul>
			</div>
		</div>
	</div>
</div>
					
<% include partials/footer.html %>	

<script type="text/javascript">
	$(document).ready(function() {
		$('#back').removeClass('hide');
		$('#btn-back').attr('href','cuidados_saude');
	});	
</script>	