<% include partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body">
				<div class="list-group">
				  <a  class="list-group-item active">SAMU</a>
				  <span class="list-group-item">192</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">Corpo de Bombeiros</a>
				  <span class="list-group-item">193</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">Defesa Civil</a>
				  <span class="list-group-item">0800 644 0199</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">Polícia Militar</a>
				  <span class="list-group-item">190</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">Polícia Civil</a>
				  <span class="list-group-item">197</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">Polícia Rodoviária Federal</a>
				  <span class="list-group-item">191</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">Polícia Federal</a>
				  <span class="list-group-item">194</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">Disque Intoxicação</a>
				  <span class="list-group-item">0800 722 6001</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">Disque Denúncia</a>
				  <span class="list-group-item">100</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">Disque Saúde</a>
				  <span class="list-group-item">136</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">Agência Nacional de Transportes Terrestres</a>
				  <span class="list-group-item">166</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">Agência Nacional de Transportes Aquaviários</a>
				  <span class="list-group-item">0800 644 500</span>				  
				</div>
				<div class="list-group">
				  <a  class="list-group-item active">ANVISA</a>
				  <span class="list-group-item">0800 642 9782</span>				  
				</div>	
				<div class="list-group">
				  <a  class="list-group-item active">Agência Nacional de Aviação Civil</a>
				  <span class="list-group-item">0800 725 4445</span>				  
				</div>	
			</div>
		</div>
	</div>
</div>
					
<% include partials/footer.html %>				

<script type="text/javascript">
	$(document).ready(function() {
		$('#back').removeClass('hide');
	});	
</script>	