<% include partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body">
					<h2>VACINAS</h2>
					<ul>
						<li>
							<p>A organização mundial da Saúde (OMS) informa que não á calendário internacional de vacinação para todos os viajantes. Para cada viajante, será adotada recomendação personalizada de acordo com os países a serem visitados. Dependendo do tipo, duração e tempo disponível para aplicação da vacina antes da partida;</p>
						</li>
						<li>
							<p>O Brasil não exige o certificado internacional de vacinação ou profilaxia para entrada no país;</p>
						</li>		
						<li>		
							<p>Certifique-se de que suas vacinas de rotina estejam em dia, de acordo com as recomendações de seu país de origem, pois é uma medida eficaz e segura para prevenção de várias doenças;</p>
						</li>	
						<li>
							<p>Devido a circulação de sarampo na Europa, África e Ásia recomenda-se que pessoas com origem ou destino a países com ocorrência dessa doença estejam vacinados previamente;</p>
						</li>
						<li>
							<p>A preparação para viagem é uma boa oportunidade para verificar o estado vacinal de bebês, crianças, adolescentes, adultos e idosos;</p>
						</li>	
						<li>
							<p>Todo morador ou visitante de qualquer cidade brasileira tem disponível também as vacinas para influenza e pólio que são enfermidades relacionadas a possíveis emergências de saúde pública de importância internacional para a OMS;</p>
						</li>	
					</ul>
					<h2>PREVENÇÃO CONTRA FEBRE AMARELA</h2>

					<ul>
						<li>
							<p>Previna-se contra febre amarela tomando a vacina 10 dias antes de visitar áreas de mata ou praticar turismo ecológico ou rural. confira lista de municípios brasileiros com recomendação sobre vacinação contra febre amarela no site saúde do viajante; 
							<a target="_blank" href="http://portalsaude.saude.gov.br/index.php/o-ministerio/principal/secretarias/svs/viajante"> [Link] </a> </p>
						</li>		
						<li>
							<p>Procure seu médico, pois ele poderá lhe ajudar a decidir qual vacina é necessária, com base em seu plano de viagem;</p>
						</li>		
					</ul>	
			</div>
		</div>
	</div>
</div>
					
<% include partials/footer.html %>	

<script type="text/javascript">
	$(document).ready(function() {
		$('#back').removeClass('hide');
		$('#btn-back').attr('href','cuidados_saude');
	});	
</script>	