<% include partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body">
				<div class="requestsGame">
					<span>Selecione o usuário:</span>
					<select id="requestGameUser" class="form-control"></select>
					<br >
					<span>Selecione o jogo:</span>
					<select id="requestGame" class="form-control"></select>
					<br >
					<button id="requestGamebtn" type="button" class="btn btn-success">Solicitar</button>
				</div>

			</div>
		</div>
	</div>
</div>
					
<% include partials/footer.html %>				

<script type="text/javascript">
	$(document).ready(function() {
		$('#back').removeClass('hide');
	});	
	
	csj.requestGame({
		username: csj.getUsername(),
		id: csj.getuserId()
	});

	$( "#requestGamebtn" ).bind( "click", function() {
		var user = $( "#requestGameUser option:selected" ).text();
			game = $( "#requestGame option:selected" ).text();;

		window.location.href = window.location.protocol + "//" + window.location.host + "/email?user="+user+"&game="+game+"";

	});
</script>



