<% include ../partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body" style="padding-left: 15px; padding-right: 10px;">
				<form class="form-horizontal" role="form">
				  <div class="form-group">
				  	<label for="remedio" class="col-sm-2 control-label">Remédio:</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="remedio" placeholder="">
				    </div>
				  </div>		
				  <div class="form-group">
				  	<label for="quantidade" class="col-sm-2 control-label">Quantidade diaria:</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="quantidade" placeholder="">
				    </div>
				  </div>	
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <div id="submit-login" type="submit" class="btn btn-primary">Salvar</div>
				    </div>
				  </div>
				</form>
				<div id="msg-ok" class="alert alert-success hide">Dados salvos com sucesso.</div>
				<div id="msg-nok"class="alert alert-danger hide">Ocorreu um erro, tente novamente.</div>
			</div>								
		</div>
	</div>
</div>
					
<% include ../partials/footer.html %>	

<script type="text/javascript">
	$(document).ready(function() {
		$('#back').removeClass('hide');
		$('#btn-back').attr('href','info_remedios');

		$( "#submit-login" ).bind( "click", function() {
			tcc.createRemedy({
				name: $('#remedio').val(),
				quantidade: $('#quantidade').val()
			});

		});	
	});	
</script>	