<% include ../partials/header.html %>
		
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-body" style="padding-left: 15px; padding-right: 10px;">
				<form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">Tipo Sanguineo:</label>
				    <div class="col-sm-10">
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>A</label>
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">B</label>
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">AB</label>
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">O</label>
						</div>
				    </div>
				  </div>
				  <div class="form-group">
				  	<label for="peso" class="col-sm-2 control-label">Peso:</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="peso" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				  	<label for="altura" class="col-sm-2 control-label">Altura:</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="altura" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				  	<label for="pressao" class="col-sm-2 control-label">Pressão arterial:</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="pressao" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-primary">Salvar</button>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
</div>
					
<% include ../partials/footer.html %>	

<script type="text/javascript">
	$(document).ready(function() {
		$('#back').removeClass('hide');
		$('#btn-back').attr('href','informacoes');
	});	
</script>	